.google-reviews {
  /*height: 30em;*/
  /*background: #efefef;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 10em;
  height: 23em;
  /*overflow: hidden;*/
  color: #a09c98;
}

.review-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.review-rating > img {
  width: 20%;
}

.review-text > h3 {
  color: #a09c98;
  font-size: 1.04em;
  line-height: 2.7;
  font-style: italic;
}

.review-author {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.quote-marks {
  font-family: 'Coustard', serif;
  font-size: 2em;
  margin: 0 .3em;
  line-height: 1.1;
}

@media screen and (max-width: 45.5em) {
  .google-reviews {
    /*background: #00cc66;*/
    padding: 0 2em 5em 2em;
    /*height: 20em;*/
  }
  .review-rating {
    padding: 1em 0;
  }
  .review-text > h3 {
    font-size: .9em;
  }
}