header {
  position: fixed;
  height:8em;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 6;
  background: #fff;
}

.head-container {
  position: relative;
  background: #fff;
  height: 100%;
  z-index: 6;
}

.head-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 73.5em;
  /*background: gold;*/
}

.head-image {
  width: 9em;
}

.nav-component {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1em;
  font-weight: 700;
}

.nav-item {
  display: block;
  text-align: center;
  line-height: 2.556;
  margin: 0 .75em;
}

.nav-active-bar {
  width: 3.5em;
  background: #00cc66;
  position: absolute;
  left: 0;
  bottom: 1.5em;
  height: 3px;
  transform: translateX(25px);
}

.head-button {
  background: #FFF;
  border: 2px solid #00cc66;
  border-radius: 2em;
  padding: .75em 2em;
  color: #00cc66 !important;
  white-space: nowrap;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.head-button:hover {
  background: #00cc66;
  color: #FFF !important;
}

.show-dropdown-button {
  height: 26px;
  width: 26px;
  margin: -1em 0 0 2em;
}

.burger-button {
  transition-duration: .1s;
  display: block;
  width: 26px;
  height: 4px;
  transform: translateY(13px);
  background-color: #00cc66;
}

.burger-button:before {
  transition-duration: .15s;
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  transform: translateY(-200%);
  background-color: #00cc66;
}

.burger-button:after {
  transition-duration: .15s;
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  transform: translateY(100%);
  background-color: #00cc66;
}

.close {
  width: 0;
  height: 0;
}

.close:before {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  transform: translateY(50%) rotate(45deg);
  /*background-color: #53585f;*/
}

.close:after {
  content: "";
  display: block;
  width: 26px;
  height: 4px;
  transform: translateY(-50%) rotate(-45deg);
  /*background-color: #53585f;*/
}

.dropdown {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropdown-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  z-index: 4;
}

.dropdown-menu-container {
  position: absolute;
  width: 100%;
  top: 8em;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
}

.dropdown-menu-open {
  width: 100%;
  padding: 0 2em 2em 2em;
  border-radius: 0 0 25px 25px;
  background: #fff;
  -webkit-box-shadow: 0 3px 13px 0 rgba(0,0,0,.5);
  box-shadow: 0 3px 13px 0 rgba(0,0,0,.5);
  transition-duration: .4s;
}

.dropdown-menu-close {
  transform: translateY(-100%);
  transition-duration: .4s;
}

.dropdown-nav-component {
  display: flex;
  flex-flow: column;
  font-weight:  600;
}

.dropdown-nav-item {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1.1em;
  line-height: 2;
  margin: .5em 0;
  border-bottom: 1px solid #d8d8d8;
}

.dropdown-button {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.trufit-button {
  background: #00cc66;
  color: #fff !important;
  border: 2px solid #00cc66;
  border-radius: 2em;
  padding: .5em 1.5em;
  white-space: nowrap;
  font-size: 1.2em;;
}

img {
 width: 100%;
  height: auto;
}


@media screen and (max-width: 45em) {
  header {
    height: 5em;
  }
  .mobile-phone-number {
    z-index: 10;
    background: black;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-phone-number > a {
    color: #00cc66 !important;
    font-size: 1.5em;
    font-weight: 500 !important;
  }
}

@media screen and (max-width: 55em) {
  .head-button {
    padding: .75em 1em;
    font-size: .9em;
  }
}