.footer-container {
  width: 100%;
  position: relative;
  /*background: #fcfcfc;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.footer-inner {
  /*background: coral;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.brand-container {
  /*background: gold !important;*/
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  max-width: 33.3%;
  /*margin-right: 5em;*/
}

.footer-image {
  width: 150px;
}

.mission-container {
  text-align: left;
  margin-top: 1em;
  color: darkgray;

}

.footer-inner > .nav-container {
  display: flex;
  flex-flow: column;
  padding-top: 1em;
  text-align: left;
  /*margin-right: 5em;*/
}

.footer-inner > .nav-container > .nav-component {
  /*background: red;*/
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: .5em;
}
.footer-inner > .nav-container > .nav-component > .nav-item {
  line-height: 1;
  margin: 1em 0 0 0;
  font-size: .9em;
  color: #989898 !important;
}

.location-container {
  /*width: 33.3%;*/
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: flex-start;
  /*padding-top: 3em;*/
}

.map-container {
  height: 10em;
}

.address-container {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin: .5em 0;
  color: #828282;
}

.footer-under {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.social-container > div {
  /*background: blueviolet;*/
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  margin-bottom: .75em;
  margin-left: -10px !important;
}

.social-icon {
  margin-right: 1em;
  width: 3em !important;
  height: 3em !important;
  /*background: coral;*/
}

.social-svg-background {
  fill: dimgrey !important;
}

.copyright {
  display: flex;
}

@media screen and (max-width: 45.5em) {
  .footer-inner {
    flex-flow: column;
    align-items: center;
    padding: 2em 2em;
  }
  .brand-container {
    max-width: 100%;
    align-items: center;
  }
  .mission-container {
    text-align: center;
  }
  .footer-inner > .nav-container {
    text-align: center;
    margin-top: 1em;
  }
  .footer-inner > .nav-container > .nav-component {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-inner > .nav-container > .nav-component > .nav-item {
    margin: 1em 1em;
    font-size: .75em;
  }
  .social-container > div {
    justify-content: center;
  }
  .copyright {
    justify-content: center;
  }
}