.google-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 9em;
  min-height: 25em;
  overflow: hidden;
  color: #a09c98;
}

.review-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.review-rating > img {
  width: 8em;
}

.review-text > h3 {
  color: #a09c98;
  font-size: .85em;
  line-height: 2.7;
  font-style: italic;
}

.review-author {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.review-author > h3 {
  font-size: 1.04em;
}

.quote-marks {
  font-family: 'Coustard', serif;
  font-size: 2em;
  margin: 0 .3em;
  line-height: 1.1;
}

@media screen and (max-width: 45.5em) {
  .google-reviews {
    /*background: #00cc66;*/
    padding: 0 .75em;
    min-height: 18em;
  }
  .review-rating > img {
    width: 7em;
  }
  .review-rating {
    padding: .5em 0;
  }
  .review-text > h3 {
    font-size: .6em;
  }
  .review-author {
    font-size:  .8em;
  }
}