.App {
  text-align: center;
  padding: 0;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 9em;
  padding-left: 1em;
  padding-right: 1em;
}

.page-inner {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 73.5em;
  min-height: calc(100vh);
}

.section-wrapper {
  text-align: left;
  padding-top: 4em;
}

.section-title {
  font-size: 4em;
  font-weight: 700;
  color: #767270;
}

.mid-section {
  height: 25em;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hide {
  display: none  !important;
}

@media screen and (max-width: 45.5em) {
  .show-for-medium {
    display: none !important;
  }
  .page-container {
    margin-top: 5em;
  }
}

@media screen and (min-width: 45.5em) {
  .hide-for-medium {
    display: none !important;
  }
}