html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-rendering: geometricPrecision;
  line-height: 1.2;
}

img {
  height: 100%;
  width: auto;
}

a, button {
  cursor: pointer;
  color: #53585f !important;
  text-transform: capitalize;
  text-decoration: none;
}